<div class="row-fluid col-sm-offset-1">
    <div ng-show='!nextstatus'>
    <form class="form-horizontal" role="form" name="addbooking" ng-submit="booking()">
            <div class="form-group">
                <label class="col-xs-11 label label-default">Book/Reserve</label>
            </div>
            <div class='row'>
                <label class='col-sm-2 label label-info' for="journey date"><h5>Journey Date</h5></label>

                <div class="col-sm-3">
                    <input type="date" class="form-control" placeholder='Journey Date' name="journeydate" min={{mindate}} ng-model="bookcredentials.journeydate" ng-change="getFrom()" required />
                </div>
                <label class='col-sm-offset-1 col-sm-2 label label-info' for="nic"><h5>NIC # </h5></label>

                <div class="col-sm-3 right-inner-addon">
                    <span><b>V</b></span>
                    <input type="number" class="form-control" placeholder='National ID Number' name="nic" min="1" ng-minlength="9" ng-maxlength="9" ng-model="bookcredentials.nic" required />
                </div>
            </div>
            <br>
            <div class="row">
                <label class="col-sm-2 label label-info" for="contactPhone"><h5>Contact Phone </h5></label>

                <div class="col-sm-3">
                    <input type="number" class="form-control" placeholder="Contact Phone No" name="contactphone" min="1" ng-minlength="10" ng-maxlength="10" ng-model="bookcredentials.contactphone" />
                </div>
                <label class="col-sm-offset-1 col-sm-2 label label-info" for="contactEmail"><h5>Contact Email </h5></label>

                <div class="col-sm-3">
                    <input type="email" class="form-control" placeholder='E-Mail ID' name="contactemail" ng-model="bookcredentials.contactEmail" />
                </div>
            </div>
            <br>
			<div class="row">
                <label class="col-sm-2 label label-info" ><h5>From</h5></label><!-- name="from" for="from" ng-options="obj.from for obj in fromvalue"-->

                <div class="col-sm-3">
                    <select class="form-control" ng-model='bookcredentials.selectedFrom'  ng-change="getTo()" required>
                        <option value="" disabled selected>From</option>
                        <option ng-repeat="fromlabel in fromvalue">{{fromlabel}}</option>
                    </select>
                    <!--
                    <input class="form-control" name="from" type="text" placeholder='From' ng-model="bookcredentials.from" >-->
                </div>
                <label class="col-sm-offset-1 col-sm-2 label label-info" for="destination"><h5>Destination</h5></label>

                <div class="col-sm-3">
                    <select class="form-control" name="destination" ng-model='bookcredentials.selectedTo' required>
                        <option value="" disabled selected>Destination</option>
                        <option ng-repeat="tolabel in tovalue">{{tolabel}}</option>
                    </select>
                    <!--<input class="form-control" name="destination" type="text" placeholder='Destination' ng-model="bookcredentials.destination" >-->
                </div>
            </div>
            <br>
            <div class="row">
                <label class='col-sm-2 label label-info' for="Jurney Time"><h5>Journey Time</h5></label>

                <div class="col-sm-3">
                    <input type="time" class="form-control" placeholder='Journey Time' name="journeytime" ng-model="bookcredentials.journeytime" required />
                </div>
                <label class="col-sm-offset-1 col-sm-2 label label-info" for="numberOfTickets"><h5>Number of Tickets </h5></label>

                <div class="col-sm-3">
                    <input type="number" class="form-control" name="numberOftickets" min="1" placeholder='Number of Tickets' ng-model="bookcredentials.numberOftickets" required />
                </div>
            </div><!--
            <div class="form-group">
                <div class="controls">
                    <a name="saveBtn" ng-click="addNewEvent()" ng-disabled="addBooking.$invalid" class="btn btn-large btn-primary" >Save</a>
                    <a href="#/" name="cancelBtn" class="btn btn-large btn-danger">Cancel</a>
                </div>
            </div>
        -->
            <br>
            <div class='form-group'>
                <button class="col-xs-offset-8 col-xs-3 btn btn-large btn-primary" type='submit'>Next &gt;&gt;</button>
            </div>
    </form>
    </div>
    <div ng-show='nextstatus'>
        <form class="form-horizontal" role="form" name="payMoney" ng-submit="paymoney()">
            <div class="form-group">
                <label class="col-xs-11 label label-default">Book/Reserve</label>
            </div>
            <div class='row'>
                <label class='col-sm-2 label label-info' for="ticket number"><h5>Ticket Number</h5></label>
                <label class='col-sm-3 label label-info' for="ticket number"><h5>2891-0893-1389-3845</h5></label>

                
                <label class='col-sm-offset-1 col-sm-2 label label-info' for="journey date"><h5>Journey Date</h5></label>
                <label class='col-sm-3 label label-info' for="journey date"><h5>05/14/2014</h5></label>
            </div>
            <br>
            <div class='row'>
                <label class='col-sm-2 label label-info' for="seat numbers"><h5>Seat Numbers</h5></label>
                <label class='col-sm-3 label label-info' for="seat numbers"><h5>20, 21, 22</h5></label>
                
                <label class='col-sm-offset-1 col-sm-2 label label-info' for="nic"><h5>NIC # </h5></label>
                <label class='col-sm-3 label label-info' for="nic"><h5>903240476V</h5></label>
            </div>
            <br>
            <div class="row">
                <label class="col-sm-2 label label-info" for="contactPhone"><h5>Contact Phone </h5></label>
                <label class="col-sm-3 label label-info" for="contactPhone"><h5>0777328402</h5></label>

                <label class="col-sm-offset-1 col-sm-2 label label-info" for="contactEmail"><h5>Contact Email </h5></label>
                <label class="col-sm-3 label label-info" for="contactEmail"><h5>example@gmail.com</h5></label>
            </div>
            <br>
            <div class="row">
                <label class="col-sm-2 label label-info" for="from"><h5>From</h5></label>
                <label class="col-sm-3 label label-info" for="from"><h5>Colombo</h5></label>

                <label class="col-sm-offset-1 col-sm-2 label label-info" for="destination"><h5>Destination</h5></label>
                <label class="col-sm-3 label label-info" for="destination"><h5>Vavuniya</h5></label>
            </div>
            <br>
            <div class="row">
                <label class='col-sm-2 label label-info' for="Jurney Time"><h5>Journey Time</h5></label>
                <label class='col-sm-3 label label-info' for="Jurney Time"><h5>06:50 AM</h5></label>

                <label class="col-sm-offset-1 col-sm-2 label label-info" for="numberOfTickets"><h5>Number of Tickets </h5></label>
                <label class="col-sm-3 label label-info" for="numberOfTickets"><h5>3</h5></label>
            </div>
            <br>
            <div class="row">
                <label class='col-sm-2 label label-info' for="Book"><h5>Book</h5></label>
                <div class="col-sm-1">
                    <input  type='radio' class='form-control' ng-model='mood' value='Book' />
                </div>

                <label class='col-sm-offset-3 col-sm-2 label label-info' for="Reserve"><h5>Reserve</h5></label>
                <div class="col-sm-1">
                    <input type='radio' class='form-control' ng-model='mood' value='Reserve' />
                </div>                
            </div>
        <!--
            <div class="form-group">
                <div class="controls">
                    <a name="saveBtn" ng-click="addNewEvent()" ng-disabled="addBooking.$invalid" class="btn btn-large btn-primary" >Save</a>
                    <a href="#/" name="cancelBtn" class="btn btn-large btn-danger">Cancel</a>
                </div>
            </div>
        -->
            <br>
            <div class='row' ng-show = 'mood==="Book"'>
                <label class='col-sm-offset-2 col-sm-3 label label-info' for="nic"><h5>Credit/Visa Card Number</h5></label>

                <div class="col-sm-4 right-inner-addon">
                    <input type="number" class="form-control" placeholder='Payment Card Number' name="pcn" min="1" required />
                </div>
            </div>
            <br>           
            <div class='form-group'>
                <button class="col-xs-3 btn btn-large btn-danger">Back</button>
                <button class="col-xs-offset-5 col-xs-3 btn btn-large btn-primary" type='submit'>{{ mood }}</button>
            </div>
    </form>
    </div>
</div>