<div class="col-xs-offset-2">
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label class="col-xs-10 label label-default">Ticket Details</label>
		</div>
		<div class="form-group">
			<label class="col-xs-2 label label-info"><h5>Ticket No</h5></label>
			<div class="col-xs-8">
				<input type="number" class="form-control" placeholder=" Ticket Number" name="ticketno" min="1" ng-model="ticketno" required/>
			</div>
		</div>
		<div class="form-group">
			<button class="col-xs-10 btn btn-large btn-primary" type="submit"><h5>Get Details</h5></button>
		</div>
	</form>
</div>